body {
    margin-top: 1.0em;
    margin:30px 40px;
    margin-left:100px;
    margin-top:70px;
    margin-bottom:10px;
    background-color: #fff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #7a7a7a;
}

.with-icon {
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 2px;
	background-image: url(/images/sprite.png);
}

.linkedin {
	background-position: -10px -8px;
	padding-left: 21px;
}
.mapbox {
	background-position: -10px -45px;
	padding-left: 21px;
}
.github {
	background-position: -10px -80px;
	padding-left: 21px;
}
.lastfm {
	background-position: -10px -152px;
	padding-left: 22px;
}
.flickr {
	background-position: -10px -188px;
	padding-left: 21px;
}
.livejournal {
	background-position: -10px -224px;
}
.facebook {
	background-position: -10px -260px;
	padding-left: 21px;
}
.twitter {
	background-position: -10px -296px;
	padding-left: 19px;
}


#logo {
    float:left;
    position:absolute;
    width:220px;
    top:50px;
    border:0px none;
}

#logo img, #developedby img {
    border:0px none;
}

pre {
    overflow-y:hidden;
    overflow-x:auto;
}

p, pre, h3, h4, ol, ul {
    width:70%;
    margin-left:220px;
    padding:10px 20px;
    border-left:1px dashed #ccc;
    margin-top:0px;
    margin-bottom:0px;
    line-height:22px;
    font-size:16px;
}

h4 {
    font-size: 14px;
}

ol, ul {
    padding:0px;
    padding-bottom:10px;
    padding-left:40px;
}

p img {
    display:block;
    margin-bottom:10px;
    margin-top:10px;
}

pre {
    color:#000;
    font-family:Courier;
    line-height:20px;
    font-size:12px;
}

pre, code {
    background:#f2f2f2;
}

code {
    font-size:13px;
    padding:2px 3px;
    color:#000;
}

p.intro {
    font-style:italic;
}

a {
    color:#000;
    text-decoration:underline;
}

a:hover {
    text-decoration:none;
}

h2 {
    float:left;
    text-align:right;
    padding-right:20px;
    width:210px;
    font-family:georgia;
    font-size:28px;
    font-weight:normal;
    color:#000;
    margin:5px 0px;
}:

h3 {
    font-size:22px;
    color:#000;
    padding-top:15px;
    padding-bottom:15px;
    font-weight:normal;
}

.step {
    margin-bottom:50px;
}

h2 a {
    text-decoration: none;
}

span.title {
    font-size: 2em;
    line-height: 1em;
    color: #000;
    padding-top: 5px;
    display: block;
    font-style: normal;
    font-weight: bold;
}

.content {
    margin-bottom: 30px;
}

hr {
    height: 30px;
    border: 0;
}

a.anchor-link {
    padding-left: 2px;
    color: #EEE;
    text-decoration: none;
    font-size: 60%;
}

a.anchor-link:hover {
    color: #666;
}

blockquote {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote p {
    border: 0;
    margin-left: 180px;
    background-color: #C8FDC5;
}

ul.glory-list {
    list-style-type: none;
}

img.retina {
    height: 40%;
    width: 40%;
}